html {background-color: #8313B6;}
header h1 {color: #000000;
text-align: left;
font-size:270%;
    font-weight:normal;
font-family: "Neucha";}
/* Site Navigation */
.site-nav {margin-top: 20px;}
.site-nav ul {margin: 0;
  padding: 0;}
.site-nav li {list-style: none;
  float: left;
  margin-right: 5px;}
.site-nav a {display: block;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: 3px solid black;
  border-bottom: 3px solid black;
box-shadow: 10px 5px 5px rgba(128, 58, 58, 0.5);
border-radius: 50px;}
.site-nav {max-width:100;}
.site-nav a:hover {background-color: #C9CCCE}
/* End Site Navigation */
footer {padding: 10px 0px 0px 0px;}
.old-lady-1 {max-width: 325px;}
.old-lady-2 {max-width: 450px;
transform: rotate(90deg);}
.penguin-1 {max-width: 450px;
transform: rotate(90deg);}
.ending-pose {max-width: 450px;
transform: rotate(90deg);}
.hug {max-width: 450px;
transform: rotate(90deg);}
@media screen and (max-width: 700px) {
    .site-nav a {padding: 5px 10px;}}
     p {font-family: "Libre Baskerville";
font-size: 125%;}
h2 {font-family: "Catamaran";
font-size: 180%;}
.forward-and-back {font-size: 150%;
background-color: black;
max-width: 27%}