html {background-color: #339013;}
header h1 {color: #000000;
text-align: left;
font-size:270%;
    font-weight:normal;
font-family: "Neucha";}
/* Site Navigation */
.site-nav {margin-top: 20px;}
.site-nav ul {margin: 0;
  padding: 0;}
.site-nav li {list-style: none;
  float: left;
  margin-right: 5px;}
.site-nav a {display: block;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: 3px solid black;
  border-bottom: 3px solid black;
box-shadow: 10px 5px 5px rgba(128, 58, 58, 0.5);
border-radius: 50px;}
.site-nav {max-width:100;}
.site-nav a:hover {background-color: #C9CCCE}
/* End Site Navigation */
footer {padding: 10px 0px 0px 0px;}
.sub-heading {font-size:180%;
    font-family: "Catamaran";}
@media screen and (max-width: 700px) {
    .site-nav a {padding: 5px 10px;}}
     p {font-family: "Libre Baskerville";
font-size: 125%;}
    h2 {font-family: "Catamaran";
font-size: 180%;}
img {max-width: 550px;
transform: rotate(-90deg) TranslateY(180px) translateX(100px);
text-align: center;}
h6{transform: translateX(95px) translateY(-225px)}
.forward-and-back {font-size: 150%;
    background-color: black;
max-width: 31%}